$headerUrl:url("../img/m-h-night.jpg");
$font-1:'Fresca', sans-serif;
$font-2:'Hind', sans-serif;
$headerColor:#fff;
$buttonColor:#e3ac00;
$beforeColor:#ff4e33;
$gradientColor1:#dea306;
$gradientColor2:#96324f;
$headerParColor:#f7ffff;
$bodyColor:#21232e;
$footerColor:#3b3f50;
$sectionCardColor:#3b3f50;



