$headerUrl:url("../img/m-h-day.jpg");
$font-1:'Source Sans Pro', sans-serif;
$font-2:'Hind', sans-serif;
$headerColor:#2c2f3c;
$buttonColor:#699900;
$beforeColor:#14a0c7;
$gradientColor1:#699900;
$gradientColor2:#315fc8;
$headerParColor:#292c2d;
$bodyColor:#fff;
$footerColor:#21232e;
$sectionCardColor:#21232e;

